:root {
  --IRIS: #4d5ae5;
  --NAVY-BLUE: #2e2f42;
  --WHITE: #ffffff;
  --SLATE: #434455;
  --CLOUD: #f4f4fd;
  --OCEAN: #404bbf;
  --CORNFLOWER: #e7e9fc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* globaL style rules */
body {
  background-color: var(--WHITE);
  font-family: "Roboto", sans-serif;
  color: var(--SLATE);
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-container {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.main-navigation-container {
    display: flex;
    align-items: center;
  }

  .logo {
    text-transform: uppercase;
    color: var(--IRIS);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.54px;
    font-family: "Raleway", sans-serif;
    margin-right: 76px;
  }
  
  .part-of-logo {
    color: var(--NAVY-BLUE);
  }
  
  .link {
    text-decoration: none;
  }
  
  .list {
    list-style-type: none;
  }
  
  .nav-link {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 16px;
    font-weight: 500;
    line-height: 150%; /* 150% */
    letter-spacing: 0.32px;
    padding: 24px 0;
  }
  
  .nav-link:hover,
  .nav-link:focus {
    color: var(--OCEAN);
  }
  
  .address-container {
    font-style: normal;
  }
  
  .address-link {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 150% */
    letter-spacing: 0.32px;
    text-decoration: none;
  }
  
  .address-link:hover,
  .address-link:focus {
    color: var(--OCEAN);
  }

  .header-section {
    border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
    background-color: var(--WHITE, #fff);
  }
  
  .address-list {
    list-style-type: none;
    display: flex;
    gap: 40px;
  }
  
  .navigation-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  .hero-image-section {
    background-color: var(--NAVY-BLUE);
    padding: 188px 0;
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background-image.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-inline: auto;
  }
  
  .hero-image-header {
    color: var(--WHITE, #fff);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 107.143%; /* 107.143% */
    letter-spacing: 1.12px;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
  }
  
  .hero-image-button {
    background: var(--IRIS, #4d5ae5);
    color: var(--WHITE, #fff);
    font-size: 16px;
    font-weight: 500;
    line-height: 150%; /* 150% */
    letter-spacing: 0.64px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    padding: 16px 32px;
    border-radius: 4px;
    display: block;
    align-items: flex-start;
    gap: 10px;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    
  }
  
  .hero-image-button:hover,
  .hero-image-button:focus {
    background-color: var(--OCEAN);
  }

  .hero-content-container {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .content-header {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 20px;
    font-weight: 500;
    line-height: 120%; /* 120% */
    letter-spacing: 0.4px;
    margin-bottom: 8px;
  }
  
  .content-description {
    color: var(--SLATE, #434455);
    font-size: 16px;
    line-height: 150%; /* 150% */
    letter-spacing: 0.32px;
  }

  /* section one : positoning */

  .first-section {
    padding: 120px 0;
  }
  
  .first-section-container {
    display: flex;
    flex-shrink: 0;
  }
  
  .first-section-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% -  3 * 24px) / 4;
  }

 /* section two : positioning rules*/

  .second-section {
    padding-bottom: 120px;
  }
  
  .second-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  
  .second-section-image-list {
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    gap: 24px;
  }
  
  .second-section-image-container {
    width: calc(100%-3 * 16px) / 3;
  }

   /* section three: Our team */
  
   .third-section-header {
    color: var(--NAVY-BLUE, #2e2f42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 111.111%; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  
  .team-member-header {
    color: var(--NAVY-BLUE, #2e2f42);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%; /* 120% */
    letter-spacing: 0.4px;
    margin-bottom: 8px;
  }
  
  .team-member-description {
    color: var(--SLATE);
    text-align: center;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.32px;
  }
  
  .third-section {
    background-color: var(--CLOUD, #f4f4fd);
    padding: 120px 0;
  }
  
  .third-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .third-section-members-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  
  .team-member-container {
    background-color: var(--WHITE, #fff);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 4px 4px;
    width: calc(100% - 3 * 24px) / 4;
  }

  .part-of-logo-footer {
    color: var(--CLOUD);
  }
  
  .footer-description {
    color: var(--CLOUD, #f4f4fd);
    font-size: 16px;
    line-height: 150%; /* 150% */
    letter-spacing: 0.32px;
    max-width: 264px;
  }
  
  
  .footer {
    background-color: var(--NAVY-BLUE, #2e2f42);
    padding: 100px 0;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
  }
  
  .logo-footer {
    margin-bottom: 16px;
    display:  inline-block;
  }


 /* ./PORTOFOLIO.HTML */

   /* portfolio main positioning rules */
  
   .section-one-button {
    background-color: var(--CLOUD);
    color: var(--IRIS);
    font-size: 16px;
    font-weight: 500;
    line-height: 150%; /* 150% */
    letter-spacing: 0.64px;
    text-align: center;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--CORNFLOWER);
  }
  
  .section-one-button:hover,
  .section-one-button:focus {
    background-color: var(--OCEAN);
    color: var(--WHITE);
    border: 1px solid transparent;
  }
  
  /*list of portfolio projects */
  
  .project-header {
    color: var(--NAVY-BLUE);
    font-size: 20px;
    font-weight: 500;
    line-height: 120%; /* 120% */
    letter-spacing: 0.4px;
    text-transform: capitalize;
    margin-bottom: 8px;
  }
  
  .project-description {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 150% */
    letter-spacing: 0.32px;
  }
  
  /* portfolio main positioning rules */
  
  .section-one-portfolio {
    padding: 96px 0 120px 0;
  }
  
  .section-one-container-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .section-one-buttons-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 72px;
  }
  
  .section-two-images-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    padding: 0;
  }
  
  .project-container {
    width: calc(100%-3 * 16px) / 3;
  }
  
  .project-text {
    padding: 32px 16px;
    border: 1px solid var(--CORNFLOWER, #e7e9fc);
    border-top: none;
  }
  
  .project-image {
    display: block;
  }
